extends layout

block content
    article#main-container
        section.container-square
            a(href='/cursos/matematica')
                div.square.mate
                    p Matemática /NM/
            a(href='/fisica')
                div.square.fisi
                    p Fisica /NM/
            a(href='/quimica')
                div.square.quimi
                    p Química /NM/
        section.container-square
            a(href='/matematica')
                div.square.mate2
                    p Matemática /NM/
            a(href='/fisica')
                div.square.fisi2
                    p Fisica /NM/
            a(href='/quimica')
                div.square.quimi2
                    p Química /NM/
                        
