doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/fontello.css')
    link(rel='stylesheet', href='/stylesheets/modal.css')
    link(rel='stylesheet', href='/stylesheets/modal-video.min.css')
    link(rel='stylesheet', href='/stylesheets/fontello.css')

  body
    nav
        figure
            a(href='/')
                img.logo(src='/images/logo.png')
        ul.main-menu
            li.close-btn
                span
            li
                a(href='/') Inicio
            li
                a(href='/') Nivel Básico
            li
                a(href='/') Nivel Medio
            li
                a(href='/') Nivel Avanzado
        img(src='/images/button.png' id='menu-btn')
        
    div
        ul.nav-log
          if (!user)
            li
              a(href='/login') Login
            li
              a(href='/register') Register
          if (user)
            li
              a Welcome #{user.username}
            li
              a(href='/logout') Logout

    div.container
      div.content
        block content

    script(src='/javascripts/jquery.min.js' type='text/javascript')
    script(src='/javascripts/menu.js' type='text/javascript')
    script(src='/javascripts/modal-video.min.js' type='text/javascript')
    script(src='/javascripts/modal.js' type='text/javascript')
    script(src='/javascripts/jquery-modal-video.min.js' type='text/javascript')
