extends ../layout

block content
    article#main-conteiner
        section.container-math
            div.rombo.aritm
                p Arimética
            a(href='algebra' style='text-decoration: none;')
                div.rombo.algebra
                    p Álgebra
            a(href='geometria' style='text-decoration: none;')
                div.rombo.geo
                    p Geometría
            a(href='trigonometria' style='text-decoration: none;')
                div.rombo.trigo
                    p Trigonometría
            div.rombo.calc1
                p Cálculo I
            div.rombo.calc2
                p Cálculo II
                
                    
                        
